* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing:border-box এটা দিলে আমরা যখন width সেট করব তখন সেটা total width হবে মানে padding + content = width */
  /* আর box-sizing: content-box দিলে width বলতে সুধু কন্টেন্ট width কে বুঝাবে  */
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: rgba(255, 233, 217, 1);
  padding-top: 50px;
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position:
    23px 38px,
    right bottom;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 45px;
  font-weight: 900;
}

.color-orange {
  color: rgba(253, 110, 10, 1);
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav ul a {
  font-size: 20px;
  color: rgba(71, 71, 71, 1);
  text-decoration: none;
}

/* shared style */
.btn {
  background-color: rgba(253, 110, 10, 1);
  border: none;
  padding: 18px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.section-header {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-header h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-header p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner {
  /* border: 1px solid red; */
  margin: 49px 38px 0px 231px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner-content {
  max-width: 585px;
  /* border: 1px solid red; */
}

#banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: rgba(71, 71, 71, 1);
  margin-bottom: 5px;
}
#banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: rgba(24, 24, 24, 1);
  margin-bottom: 20px;
}

#banner-content p {
  font-size: 18px;
  font-weight: regular;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 20px;
  line-height: 30px;
}

#banner-image img {
  max-width: 584px;
  vertical-align: middle;
}

#about {
  /* border: 1px solid red; */
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 248, 243, 1);
  padding: 131px 156px;
  border-radius: 10px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
}

.about-info .info-card h4 {
  font-size: 20px;
  line-height: 30px;
}

#skills {
  padding-top: 130px;
}

#skills .skill-container {
  max-width: 1140px;
  width: 71%;
  margin: 0 auto;
}

#skills .skill-container .skill-box {
  display: flex;
  gap: 24px;
}

.skill-card {
  padding: 30px;
  /* border: 1px solid black; */
  max-width: 267px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3 {
  color: 181818;
  margin-bottom: 20px;
  font-weight: bold;
}

.skill-card p {
  color: rgba(117, 117, 117, 1);
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 28px;
}

#resume {
  padding-top: 130px;
}

.resume-container {
  max-width: 1140px;
  width: 71%;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}

.section-title {
  color: rgba(71, 71, 71, 1);
  font-size: 30px;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.cart-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.card-text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(117, 117, 117, 1);
}
hr {
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

footer {
  margin-top: 113px;
  background-color: rgba(255, 248, 243, 1);
  padding: 130px 0px;
}

.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}

.footer-container .social {
  max-width: 512px;
}

.footer-container h2 {
  color: rgba(24, 24, 24, 1);
  font-size: 35px;
  margin-bottom: 20px;
}

.footer-container p {
  color: rgba(71, 71, 71, 1);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.footer-container img {
  margin-right: 24px;
}

.footer-container form input[type="text"],
input[type="email"],
textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: rgba(117, 117, 117, 1);
}
